body {
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}
p {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 10px;
    line-height: 28px;
    text-decoration: underline;
}
.paralax {
    pointer-events: none;
    .paralax__fon1,
    .paralax__fon2 {
        width: 105vw;
        height: 105vh;
        position: fixed;
        top: -5vh;
        right: -2.5vw;
        bottom: -5vh;
        left: -2.5vw;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .paralax__fon1 {
        background: url(/file/fon1.jpg);
    }
    .paralax__fon2 {
        background: url(/file/fon2.png);
    }
}

.content {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .chooser {display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .chooser__sliders {
            display: flex;
            box-sizing: border-box;
            width: 28vw;
            height: 65vh;
            background: url(/file/back-scroll.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding: 30px;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-direction: column;
            .slider__box {
                width: 95%;
                text-align: center;
            }
        }
        .chooser__result {
            min-width: 33.75vh;
            min-height: 25vh;
            background: url(/file/Result.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 10px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}
