@font-face {
    font-family: "Antikvarika";
    src: url("/fonts/antikvarika.eot"); /* IE 9 Compatibility Mode */
    src: url("fonts/antikvarika.eot?#iefix") format("embedded-opentype"),
        url("/fonts/antikvarika.woff2") format("woff2"), url("/fonts/antikvarika.woff") format("woff"),
        url("/fonts/antikvarika.ttf") format("truetype"), url("/fonts/antikvarika.svg#antikvarika") format("svg"); /* Chrome < 4, Legacy iOS */
}
$srift: "Antikvarika", "Times New Roman", serif;
$br1: rgba(56, 37, 25, 1);
$br2: rgba(91, 51, 32, 1);
$br3: rgba(107, 67, 38, 1);
$br4: rgb(226, 204, 177);
$Gradbr: radial-gradient(circle, $br1 0%, $br2 35%, $br3 70%, $br4 100%);
$Wpur: rgb(144, 52, 147);
$Dpur: rgb(46, 18, 41);
$Vk:rgb(0,119,255);
$WVk: rgb(113,170,235);
$Gradblue: linear-gradient(90deg, $WVk 0%, $Vk 100%);

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: 25px;
    font-family: $srift;
    margin: 0;
    padding: 0;
    cursor: default;
}
p {
    font-size: 25px;
    font-family: $srift;
    margin: 0;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    cursor: default;
}
label {
    font-size: 25px;
    font-family: $srift;
    margin: 0;
    padding: 0px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    cursor: default;
}
.paralax {
    pointer-events: none;
    .paralax__fon1,
    .paralax__fon2 {
        width: 105vw;
        height: 105vh;
        position: fixed;
        top: -5vh;
        right: -2.5vw;
        bottom: -5vh;
        left: -2.5vw;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .paralax__fon1 {
        background: url(/file/fon1.jpg);
    }
    .paralax__fon2 {
        background: url(/file/fon2.png);
    }
}

.content {
    position: relative;
    box-sizing: border-box;
    width: 1500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    .chooser {
        min-width: 900px;
        min-height: 577px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: url(/file/book.png);
        background-size: contain;
        background-repeat: no-repeat;
        gap: 5px;
        .chooser__sliders {
            width: 45%;
            height: 100%;
            display: flex;
            box-sizing: border-box;
            padding: 20px 20px 40px 0px;
            align-items: center;
            justify-content: center;
            gap: 35px;
            flex-direction: column;
            .slider__box {
                position: relative;
                width: 95%;
                text-align: center;
            }
            .slider__box::before {
                font-size: 25px;
                font-family: $srift;
                text-align: center;
                font-weight: bold;
                cursor: default;
                position: absolute;
                top: 0;
                left: -3px;
                content: "-";
                text-align: center;
            }
            .slider__box::after {
                font-size: 25px;
                font-family: $srift;
                font-weight: bold;
                cursor: default;
                position: absolute;
                top: 0;
                right: -3px;
                content: "+";
                text-align: center;
            }
        }
        .chooser__result {
            width: 45%;
            height: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: start;
            text-align: center;
            overflow-y: auto;
            .result {
                box-sizing: border-box;
                width: 400px;
                height: 480px;
                margin: auto;
            }
        }
        .chooser__result::-webkit-scrollbar {
            width: 12px;
        }
        .chooser__result::-webkit-scrollbar-track {
            //background: #e2ccb1;
            border-radius: 200px;
            //border: 1px solid #c58b4d
        }
        .chooser__result::-webkit-scrollbar-thumb {
            background: $Gradbr;
            border-radius: 200px;
            width: 11px;
            box-shadow: 0px 0px 20px 2px $br4, 0px 0px 10px 2px $br4 inset;
            //border: 1px solid rgb(126, 89, 5);
        }
    }
}

a.group:active,
a.group:hover,
a.group,
p.group__text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.group {
    box-sizing: border-box;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    width: 360px;
    height: 60px;
    background: $Gradblue;
    border-radius: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    z-index: 2;
    box-shadow: 0px 0px 35px 2px $Vk, 0px 0px 5px 1px $Vk inset;
    .group__logo {
        box-sizing: border-box;
        width: 60px;
        height: 100%;
        background: url(/file/Gobbo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: 4px solid $WVk;
        border-radius: 50%;
    }
    .group__textbox {
        text-align: center;
        visibility: visible;
        p.group__text {
            font-size: 20px;
            font-family: $srift;
            line-height: 20px;
            text-align: center;
            font-weight: 600;
            text-decoration: none;
        }
    }
}
.group_active {
    transform-origin: right;
    width: 80px;
    height: 80px;
    transition: 2s;
    gap: 0;
    .group__logo_active {
        width: 80px;
        height: 80px;
        transform-origin: right;
        transition: 2s;
    }
    .group__textbox_active {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
